<!DOCTYPE html>
<html>
	<head>
		<meta  charset="utf-8">
		<title>
			Home Page Of Website
		</title>
	</head>
	<body>
		{{> header}}
		<h3>{{screanIt name}}</h3>
		<p>You Like {{likes}}</p>
		{{> footer}}
	</body>
</html>