<!DOCTYPE html>
<html>
	<head>
		<meta  charset="utf-8">
		<title>
			Home Page Of Website
		</title>
	</head>
	<body>
		<h1>we'll be right back</h1>
		<p>The is currently bei g updated</p>
	</body>
</html>